@font-face {
    font-family: sans-serif; 
    src: url(PixelifySans.ttf) format('truetype');
}
.my-info{
    color: #fff; /* Muda a cor do texto para branco */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adiciona sombra para destacar o texto */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    line-height: 1.5; /* Ajusta o espaçamento entre linhas */
    font-family: "Pixelify Sans", sans-serif;
}
.nome{
    text-align: center;
    margin-top: 50px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;
}
.contato-section{
    text-align: left;
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adiciona sombra para destacar o texto */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    line-height: 1.5; /* Ajusta o espaçamento entre linhas */
}
.foto{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.nav-letra{
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adiciona sombra para destacar o texto */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    line-height: 1.5; /* Ajusta o espaçamento entre linhas */
}
.link:hover {
    background-color: yellow;
}
section{
    padding: 10px;
}
footer{
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adiciona sombra para destacar o texto */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    line-height: 1.5; /* Ajusta o espaçamento entre linhas */
}
body {
    background: url('vapowave.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

